<div class="strix-ergonode-customfieldkeys-multiselect">
    <sw-multi-select
        :loading="isLoading"
        :options="options"
        :value="filteredValue"
        @change="onChange"
    />
</div>