<div class="ergonode-api-select">
    <sw-single-select
            :loading="isLoading"
            :options="options"
            :value="filteredValue"
            @change="onChange"
    ></sw-single-select>
</div>
