<div class="ergonode-api-select">
    <sw-single-select
            :loading="isLoading"
            :options="options"
            v-model:value="filteredValue"
            :disabled="disabled"
            @update:value="onChange"
    ></sw-single-select>
</div>
