<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>API Settings</title>
        <title lang="de-DE">API Einstellungen</title>

        <input-field type="text">
            <name>ergonodeBaseUrl</name>
            <label>Ergonode base URL</label>
            <label lang="de-DE">Ergonode base URL</label>
        </input-field>

        <input-field type="text">
            <name>ergonodeApiKey</name>
            <label>Ergonode API key</label>
            <label lang="de-DE">Ergonode API key</label>
        </input-field>
    </card>

    <card>
        <title>Fields mapping</title>
        <title lang="de-DE">Fields mapping</title>

        <input-field type="multi-select">
            <name>customFieldKeys</name>
            <options> <!-- todo get fields dynamically from api -->
                <option>
                    <id>name</id>
                    <name>name</name>
                </option>
                <option>
                    <id>description</id>
                    <name>description</name>
                </option>
                <option>
                    <id>custom_field_1</id>
                    <name>custom_field_1</name>
                </option>
            </options>
            <label>Ergonode attributes as custom fields</label>
            <label lang="de-DE">Ergonode attributes as custom fields</label>
            <helpText>Every selected attribute will be fetched as product custom field</helpText>
            <helpText lang="de-DE">Every selected attribute will be fetched as product custom field</helpText>
        </input-field>
    </card>
    <card>
        <title>Category Sync</title>
        <title lang="de-DE">Category Sync</title>
        <input-field type="text">
            <name>categoryTreeCode</name>
            <label>Code of the category tree to synchronize</label>
            <label lang="de-DE">Code of the category tree to synchronize</label>
        </input-field>
    </card>
</config>