<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>API Settings</title>
        <title lang="de-DE">API Einstellungen</title>

        <input-field type="password">
            <name>ergonodeApiEndpoint</name>
            <label>Ergonode GraphQL API endpoint</label>
            <label lang="de-DE">Ergonode GraphQL API endpoint</label>
            <helpText>The value will always be inherited (from "All Sales Channels")! This field MUST be filled in for All Sales Channels and MUST NOT be modified or deleted for each individual channel</helpText>
            <helpText lang="de-DE">Der Wert wird immer vererbt (von "Alle Verkaufskanäle")! Dieses Feld MUSS für alle Verkaufskanäle ausgefüllt werden und DARF NICHT für jeden einzelnen Kanal geändert oder gelöscht werden</helpText>
        </input-field>

        <input-field type="password">
            <name>ergonodeApiKey</name>
            <label>Ergonode API key</label>
            <label lang="de-DE">Ergonode API key</label>
            <helpText>This field MUST be filled in for All Sales Channels. It MAY then be modified for each individual channel or removed from a specific channel if needed</helpText>
            <helpText lang="de-DE">Dieses Feld MUSS für alle Verkaufskanäle ausgefüllt werden. Es KANN dann für jeden einzelnen Kanal geändert oder bei Bedarf aus einem bestimmten Kanal entfernt werden.</helpText>
        </input-field>

        <component name="ergonode-api-key-validator">
            <name>ergonodeApiKeyValidator</name>
        </component>
    </card>

    <card>
        <title>Fields mapping</title>
        <title lang="de-DE">Fields mapping</title>

        <component name="ergonode-attribute-multiselect">
            <name>customFieldKeys</name>
            <label>Ergonode attributes as custom fields</label>
            <label lang="de-DE">Ergonode attributes as custom fields</label>
            <helpText>Every selected attribute will be fetched as product custom field. (This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels)</helpText>
            <helpText lang="de-DE">Jedes ausgewählte Attribut wird als benutzerdefiniertes Produktfeld abgerufen. (Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen)</helpText>
        </component>

        <component name="ergonode-attribute-multiselect">
            <name>crossSellingKeys</name>
            <attributesType>relation</attributesType>
            <label>Ergonode attributes as cross selling</label>
            <label lang="de-DE">Ergonode attributes as cross selling</label>
            <helpText>Every selected attribute will create a separate cross-selling collection. (This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels)</helpText>
            <helpText lang="de-DE">Jedes ausgewählte Attribut erstellt eine separate Cross-Selling-Kollektion. (Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen)</helpText>
        </component>
    </card>
    <card>
        <title>Digital products</title>
        <title lang="de-DE">Digital products</title>

        <component name="ergonode-product-multiselect">
            <name>digitalProductsKeys</name>
            <productType>VariableProduct</productType>
            <label>Shopware digital products</label>
            <label lang="de-DE">Shopware digital products</label>
            <helpText>Every selected product will be sent to Shopware as digital product</helpText>
            <helpText lang="de-DE">Every selected product will be sent to Shopware as digital product</helpText>
        </component>
        <component name="ergonode-attribute-select">
            <name>digitalProductAttribute</name>
            <attributesType>image,file,gallery</attributesType>
            <label>Ergonode attribute used for digital products</label>
            <label lang="de-DE">Ergonode attribute used for digital products</label>
            <helpText>Ergonode attribute used for digital products</helpText>
            <helpText lang="de-DE">Ergonode attribute used for digital products</helpText>
        </component>
    </card>
    <card>
        <title>Category Sync</title>
        <title lang="de-DE">Category Sync</title>
        <component name="ergonode-category-tree-multiselect">
            <name>categoryTreeCodes</name>
            <label>Category trees to synchronize</label>
            <label lang="de-DE">Category trees to synchronize</label>
            <helpText>This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels</helpText>
            <helpText lang="de-DE">Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen</helpText>
        </component>
        <input-field>
            <name>lastCategorySyncTime</name>
            <label>Last category synchronization completion time</label>
            <label lang="de-DE">Last category synchronization completion time</label>
            <disabled>true</disabled>
        </input-field>
    </card>
    <card>
        <title>Scheduler</title>
        <title lang="de-DE">Scheduler</title>
        <input-field type="bool">
            <name>schedulerEnabled</name>
            <label>Enable scheduler</label>
            <label lang="de-DE">Enable scheduler</label>
            <helpText>This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels</helpText>
            <helpText lang="de-DE">Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen</helpText>
        </input-field>
        <input-field type="datetime">
            <name>schedulerStartDatetime</name>
            <label>Start date and time</label>
            <label lang="de-DE">Start date and time</label>
            <helpText>This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels</helpText>
            <helpText lang="de-DE">Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen</helpText>
            <hideHint>true</hideHint>
        </input-field>
        <component name="ergonode-timezone-select">
            <name>schedulerTimezone</name>
            <label>Scheduler timezone</label>
            <label lang="de-DE">Scheduler timezone</label>
            <helpText>This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels</helpText>
            <helpText lang="de-DE">Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen</helpText>
        </component>
        <input-field type="int">
            <name>schedulerRecurrenceHour</name>
            <label>Recurrence hour</label>
            <label lang="de-DE">Recurrence hour</label>
            <max>24</max>
            <min>0</min>
            <defaultValue>0</defaultValue>
            <helpText>How often the scheduler should run? Hour interval. (This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels)</helpText>
            <helpText lang="de-DE">Wie oft soll der Scheduler laufen? Stündliches Intervall. (Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen)</helpText>
        </input-field>
        <input-field type="int">
            <name>schedulerRecurrenceMinute</name>
            <label>Recurrence minute</label>
            <label lang="de-DE">Recurrence minute</label>
            <max>59</max>
            <min>0</min>
            <defaultValue>0</defaultValue>
            <helpText>How often the scheduler should run? Minute interval. (This field will be inherited from All Sales Channel, DO NOT modify or delete for specific channels)</helpText>
            <helpText lang="de-DE">Wie oft soll der Scheduler laufen? Minuten Intervall. (Dieses Feld wird für alle Vertriebskanäle übernommen, NICHT für einzelne Kanäle ändern oder löschen)</helpText>
        </input-field>
    </card>
</config>
