<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>API Settings</title>
        <title lang="de-DE">API Einstellungen</title>

        <input-field>
            <name>ergonodeApiEndpoint</name>
            <label>Ergonode GraphQL API endpoint</label>
            <label lang="de-DE">Ergonode GraphQL API endpoint</label>
            <helpText>The value will always be inherited (from "All Sales Channels")!</helpText>
        </input-field>

        <input-field>
            <name>ergonodeApiKey</name>
            <label>Ergonode API key</label>
            <label lang="de-DE">Ergonode API key</label>
        </input-field>

        <component name="ergonode-api-key-validator">
            <name>ergonodeApiKeyValidator</name>
        </component>
    </card>

    <card>
        <title>Fields mapping</title>
        <title lang="de-DE">Fields mapping</title>

        <component name="ergonode-attribute-multiselect">
            <name>customFieldKeys</name>
            <label>Ergonode attributes as custom fields</label>
            <label lang="de-DE">Ergonode attributes as custom fields</label>
            <helpText>Every selected attribute will be fetched as product custom field</helpText>
            <helpText lang="de-DE">Every selected attribute will be fetched as product custom field</helpText>
        </component>

        <component name="ergonode-attribute-multiselect">
            <name>crossSellingKeys</name>
            <attributesType>type_relation</attributesType>
            <label>Ergonode attributes as cross selling</label>
            <label lang="de-DE">Ergonode attributes as cross selling</label>
            <helpText>Every selected attribute will create a separate cross-selling collection</helpText>
            <helpText lang="de-DE">Every selected attribute will create a separate cross-selling collection</helpText>
        </component>
    </card>
    <card>
        <title>Category Sync</title>
        <title lang="de-DE">Category Sync</title>
        <component name="ergonode-category-tree-multiselect">
            <name>categoryTreeCodes</name>
            <label>Category trees to synchronize</label>
            <label lang="de-DE">Category trees to synchronize</label>
        </component>
        <input-field>
            <name>lastCategorySyncTime</name>
            <label>Last category synchronization completion time</label>
            <label lang="de-DE">Last category synchronization completion time</label>
            <disabled>true</disabled>
        </input-field>
    </card>
    <card>
        <title>Scheduler</title>
        <title lang="de-DE">Scheduler</title>
        <input-field type="bool">
            <name>schedulerEnabled</name>
            <label>Enable scheduler</label>
            <label lang="de-DE">Enable scheduler</label>
        </input-field>
        <input-field type="datetime">
            <name>schedulerStartDatetime</name>
            <label>Start date and time</label>
            <label lang="de-DE">Start date and time</label>
        </input-field>

        <component name="ergonode-timezone-select">
            <name>schedulerTimezone</name>
            <label>Scheduler timezone</label>
            <label lang="de-DE">Scheduler timezone</label>
        </component>
        <input-field type="int">
            <name>schedulerRecurrenceHour</name>
            <label>Recurrence hour</label>
            <label lang="de-DE">Recurrence hour</label>
            <max>24</max>
            <min>0</min>
            <defaultValue>0</defaultValue>
            <helpText>How often the scheduler should run? Hour interval</helpText>
            <helpText lang="de-DE">How often the scheduler should run? Hourly interval</helpText>
        </input-field>
        <input-field type="int">
            <name>schedulerRecurrenceMinute</name>
            <label>Recurrence minute</label>
            <label lang="de-DE">Recurrence minute</label>
            <max>59</max>
            <min>0</min>
            <defaultValue>0</defaultValue>
            <helpText>How often the scheduler should run? Minute interval</helpText>
            <helpText lang="de-DE">How often the scheduler should run? Minute interval</helpText>
        </input-field>
    </card>
</config>
