imports:
  - { resource: parameters.yml }
  - { resource: packages/cache.yml }
  - { resource: packages/monolog.yml }

services:
  _defaults:
    autowire: true
    autoconfigure: true

  _instanceof:
    # EXTENSION
    Ergonode\IntegrationShopware\Extension\AbstractErgonodeMappingExtension:
      tags: [ 'shopware.entity.extension' ]

    # TRANSFORMER
    Ergonode\IntegrationShopware\Transformer\CustomField\CustomFieldTransformerInterface:
      tags: [ 'ergonode_integration.custom_field_transformer' ]

    Ergonode\IntegrationShopware\Transformer\ProductCustomField\ProductCustomFieldTransformerInterface:
      tags: [ 'ergonode_integration.product_custom_field_transformer' ]

  # WIRE WHOLE NAMESPACE
  Ergonode\IntegrationShopware\:
    resource: '../../'

  # API
  Ergonode\IntegrationShopware\Api\Client\ErgonodeGqlClient:
    factory: [ '@Ergonode\IntegrationShopware\Api\Client\ErgonodeGqlClientFactory', 'createFromPluginConfig' ]

  Ergonode\IntegrationShopware\Api\Client\ErgonodeGqlClientFactory:

  # COMMAND
  Ergonode\IntegrationShopware\Command\CreateAttributeMappingCommand:
    arguments:
      $repository: '@ergonode_attribute_mapping.repository'

  # ENTITY DEFINITION
  Ergonode\IntegrationShopware\Entity\ErgonodeAttributeMapping\ErgonodeAttributeMappingDefinition:
    tags: [ 'shopware.entity.definition' ]

  Ergonode\IntegrationShopware\Entity\ErgonodeMappingExtension\ErgonodeMappingExtensionDefinition:
    tags: [ 'shopware.entity.definition' ]

  Ergonode\IntegrationShopware\Entity\ErgonodeCategoryMappingExtension\ErgonodeCategoryMappingExtensionDefinition:
    tags: [ 'shopware.entity.definition' ]

  Ergonode\IntegrationShopware\Entity\ErgonodeCursor\ErgonodeCursorDefinition:
    tags: [ 'shopware.entity.definition' ]

  Ergonode\IntegrationShopware\Entity\ErgonodeSyncHistory\ErgonodeSyncHistoryDefinition:
    tags: [ 'shopware.entity.definition' ]

  # EXTENSION
  Ergonode\IntegrationShopware\Extension\ErgonodeCategoryMappingExtension:
    tags: [ 'shopware.entity.extension' ]

  # LOCK
  ergonode_integration.flock_store:
    class: Symfony\Component\Lock\Store\FlockStore

  ergonode_integration.lock_factory:
    class: Symfony\Component\Lock\LockFactory
    arguments:
      - '@ergonode_integration.flock_store'
    calls:
      - setLogger: [ '@monolog.logger.sync' ]

  # MANAGER
  Ergonode\IntegrationShopware\Manager\ErgonodeCursorManager:
    arguments:
      $repository: '@ergonode_cursor.repository'

  # PROVIDER
  Ergonode\IntegrationShopware\Provider\AttributeMappingProvider:
    arguments:
      $repository: '@ergonode_attribute_mapping.repository'

  # RESOLVER
  Ergonode\IntegrationShopware\Resolver\CustomFieldTransformerResolver:
    arguments:
      - !tagged_iterator { tag: 'ergonode_integration.custom_field_transformer' }

  Ergonode\IntegrationShopware\Resolver\ProductCustomFieldTransformerResolver:
    arguments:
      - !tagged_iterator { tag: 'ergonode_integration.product_custom_field_transformer' }

  # SCHEDULED TASK
  Ergonode\IntegrationShopware\Service\ScheduledTask\ProductSyncTask:
    tags: [ 'shopware.scheduled.task' ]

  Ergonode\IntegrationShopware\Service\ScheduledTask\ProductVisibilitySyncTask:
    tags: [ 'shopware.scheduled.task' ]

  Ergonode\IntegrationShopware\Service\ScheduledTask\CategorySyncTask:
    tags: [ 'shopware.scheduled.task' ]

  Ergonode\IntegrationShopware\Service\ScheduledTask\CategoryTreeSyncTask:
    tags: [ 'shopware.scheduled.task' ]

  Ergonode\IntegrationShopware\Service\ScheduledTask\AttributeSyncTask:
    tags: [ 'shopware.scheduled.task' ]

  Ergonode\IntegrationShopware\Service\ScheduledTask\LanguageSyncTask:
    tags: [ 'shopware.scheduled.task' ]

  Ergonode\IntegrationShopware\Service\ScheduledTask\DeletedProductSyncTask:
    tags: [ 'shopware.scheduled.task' ]

  # This task is disabled because CategoryTreeSyncTask and CategorySyncTask together are building the full tree.
  # Can be removed completely if both tasks are working correctly. The task handler could be left for debug purposes.
  # (See SWERG-44, SWERG-49)
  #  Ergonode\IntegrationShopware\Service\ScheduledTask\BuildFullCategoryTreeTask:
  #    tags: [ 'shopware.scheduled.task' ]
  #    arguments:
  #      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\ProductSyncTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\ProductVisibilitySyncTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\CategorySyncTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\CategoryTreeSyncTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\AttributeSyncTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\LanguageSyncTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\BuildFullCategoryTreeTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  Ergonode\IntegrationShopware\Service\ScheduledTask\DeletedProductSyncTaskHandler:
    tags: [ 'messenger.message_handler' ]
    arguments:
      $lockFactory: '@ergonode_integration.lock_factory'

  # SERVICE
  Ergonode\IntegrationShopware\Service\History\SyncHistoryLogger:
    arguments:
      $kernelLogsDir: '%kernel.logs_dir%'
      $kernelEnv: '%kernel.environment%'
      $repository: '@ergonode_sync_history.repository'

  # TRANSFORMER
  Ergonode\IntegrationShopware\Transformer\ProductTransformerChain:
    arguments:
      $transformers:
        - '@Ergonode\IntegrationShopware\Transformer\ProductTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductCategoryTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductTaxTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductPriceTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductDefaultValuesTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductMediaTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductCustomFieldTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductPropertiesTransformer'
        - '@Ergonode\IntegrationShopware\Transformer\ProductCrossSellingTransformer'

  # SUBSCRIBER
  Ergonode\IntegrationShopware\Subscriber\PropertyErgonodeMappingExtensionSubscriber:
    tags: [ 'kernel.event_subscriber' ]