<div class="ergonode-fields-mapping-multiselect">
    <sw-multi-select
        :loading="isLoading"
        :options="options"
        :value="filteredValue"
        @change="onChange"
    ></sw-multi-select>
</div>
