<div class="ergonode-api-entity-multiselect">
    <sw-multi-select
        :loading="isLoading"
        :options="options"
        :value="filteredValue"
        :disabled="disabled"
        @change="onChange"
    ></sw-multi-select>
</div>
