<div class="ergonode-api-key-validator">
    <sw-button-process
        :processSuccess="success"
        :isLoading="isLoading"
        @click="verify()"
    >
        {{ buttonLabel }}
    </sw-button-process>
    <sw-label
        :variant="variant"
    >
        <sw-color-badge
            :color="color"
        ></sw-color-badge>
        {{ message }}
    </sw-label>
</div>