<div role="alert" class="sw-alert sw-error-summary sw-alert--default sw-alert--info sw-alert--icon">
    <sw-icon
        class="sw-alert__icon"
        name="regular-exclamation-circle"
        size="20"
        small
    />
    <div class="sw-alert__body sw-alert__body--icon">
        <div class="sw-alert__title">
            {{ $t('ErgonodeIntegrationShopware.supportEnd.message') }}
        </div>
        <div class="sw-alert__message">
            {{ $t('ErgonodeIntegrationShopware.supportEnd.maintaining') }}
        </div>
    </div>
</div>
