<div class="ergonode-api-entity-select">
    <sw-single-select
            :value="entity"
            :loading="isLoading"
            :options="options"
            :disabled="disabled"
            @change="onChange"
    />
</div>
